* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: rgb(224, 224, 224);
	font-family: 'Montserrat', sans-serif;
	// font-family: 'Dancing Script', cursive;
}

.wrapper {
	width: 800px;
	background-color: #fff;
	box-shadow: 0 0 20px #000;

	.header {
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
		flex-direction: column;
		position: relative;
		height: 300px;
		padding: 20px 40px;
		font-family: 'Dancing Script', cursive;
		background-image: url(/1/img/pistachios-g4f9cecd5b_1920.jpg);
		background-position: center;
		background-size: cover;
		z-index: 0;
	}

	.shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: -1;
	}

	h1 {
		font-size: 50px;
		margin-bottom: 20px;
		color: white;
	}
	input {
		width: 100%;
		padding: 10px 20px;
		margin-bottom: 20px;
		font-size: 16px;
		border-radius: 6px;
		background-color: rgba(255, 255, 255, 0.8);
	}

	.drink-list {
		height: auto;
		min-height: 688.27px;
		padding: 20px 40px;

		h2 {
			font-size: 26px;
			padding: 20px 0;
		}

		ul {
			list-style: none;
			li {
				padding: 8px 30px;
				font-size: 22px;
				border-bottom: 1px solid rgb(226, 226, 226);
			}
			li:last-child {
				border-bottom: none;
			}
		}
	}

	.hide {
		display: none;
	}
}
